@import '../../common.scss';

.card-item {
    background-color: $medium-primary-color;
    padding: 10px;
    margin: 2px 0;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: $text-color;
    cursor: pointer;

    img.card-cover {
        display: block;
        width: calc(100% + 20px);
        margin: -10px 0 10px -10px;
        border-radius: 4px;
    }
}