@import './common.scss';

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.App {
  height: 100vh;
  overflow: hidden;
  line-height: 1.3em;
  background-color: $medium-primary-color;

  .icon {
    font-size: 14px;
    margin-right: 8px;
    font-weight: 300;
  }

  .custom-container {
    margin: 0 15px;
    padding: 0;
  }
}