@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');
$light-primary-color: #081121;
$medium-primary-color: #030a15;
$dark-primary-color: #020a15;
$text-black-color: #666;
$white-color: #fff;
$black-color: #000;
$text-color: #64ffda;
$column-header-height: 36px;
$column-footer-height: 36px;

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  line-height: 1.3em;
  background-color: $medium-primary-color;

  .navbar {
    padding-left: 10px;
    display: flex;
    align-items: center;

    &.app {
      background-color: $medium-primary-color;
      font-size: 1.5rem;
      color: $text-color;
    }

    &.board {
      background-color: #999;
      font-size: 1.1rem;
      color: $text-color;
    }
  }

  .board-columns {
    display: flex;
    overflow-x: auto;
    padding-left: 10px;
    background-color: #999;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:horizontal {
      height: 16px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: darken($text-color, 40%);
      border-radius: 8px;
    }

    .column {
      flex: 0 0 auto;
      width: 300px;

      &:not(:first-child) {
        margin-left: 16px;
      }

      &>* {
        background-color: rgba($light-primary-color, .8);
        padding: 0 8px;
        color: $text-color;
      }

      header {
        font-size: 16px;
        padding-left: 15px;
        height: $column-header-height;
        font-weight: bold;
        line-height: 36px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      ul {
        list-style-type: none;
        margin: 0;
        max-height: calc(100% - #{$column-header-height} - #{$column-footer-height} - 20px);
        overflow-y: auto;

        &::-webkit-scrollbar {
          -webkit-appearance: none;
        }

        &::-webkit-scrollbar:vertical {
          width: 6px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: darken($text-color, 40%);
          border-right: 2px solid rgba($light-primary-color, .8);
          border-radius: 4px;
        }

        li {
          background-color: $medium-primary-color;
          padding: 10px;
          border-radius: 4px;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          color: $text-color;

          &:not(:last-child) {

            margin-bottom: 10px;
          }

          img {
            display: block;
            width: calc(100% + 20px);
            margin: -10px 0 10px -10px;
            border-radius: 4px;
          }
        }
      }

      footer {
        font-size: 16px;
        padding-left: 10px;
        height: $column-footer-height;
        font-weight: bold;
        line-height: 36px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}