@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');
$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 89vh;


$light-primary-color: #081121;
$medium-primary-color: #030a15;
$dark-primary-color: #020a15;
$text-black-color: #666;
$white-color: #fff;
$black-color: #000;
$text-color: #64ffda;
$dark-text-color: #009773;
$column-header-height: 36px;
$column-footer-height: 36px;